<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "SUPER CineMAN", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Film
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Aggiungi nuovo +", new_film_path, class: "dropdown-item"%>
          <%= link_to "Lista", films_path, class: "dropdown-item"%>
          <div class="dropdown-divider"></div>
          <%= link_to "Manuale d'uso", about_path, class: "dropdown-item"%>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Rotten Tomatoes", "https://rottentomatoes.com", class: "nav-link"%>
      </li>
    </ul>
  </div>
</nav>
